/* #banner { */
/*     padding: 85px 0; */
/* } */


#tipue_search_input {
    padding: 9px 12px 9px 40px;
    background-position: 15px 13px;
    margin-top: 1px;
  }

body {
    font-family: 'Helvetica',sans-serif;
    font-size: 17px; 
    line-height: 1.628571; 
    color: black;

  }

p {

  padding-bottom: 5px;

}

footer {
  font-size: 12px;
}

h1 {
  font-family: Avenir,sans-serif;
  font-variant: small-caps;

}

h2 {
  font-family: Avenir,sans-serif;
  font-variant: small-caps;

}
h3 {
  font-family: Avenir,sans-serif;
  font-variant: small-caps;

}


/* navbar */

/* Change navbar color */
.navbar-inverse {
    /* orange */ 
    /* background-color: #FF6600; */ 
    /* border-color: #FF6600; */

    /* light blue */
    background-color: #39B3DD; 
    border-color: #39B3DD;
}

/* Collapse divider color */
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{border-color: black;}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider{background-color: black;}

/* Change site title color */
.navbar-inverse .navbar-brand {
    /* background-color: black; */
    color: black;/* CHANGE COLOR HERE*/
}

/* Change list items color */
.navbar-inverse .nav > li > a {
color: #000000;/* CHANGE COLOR HERE*/
}

/* Change toggle colors */
.navbar-inverse .navbar-toggle{border-color: black;}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{background-color: white;}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
    border-color: black;
    color: #000000;/* CHANGE COLOR HERE*/
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
    #banner h1{
       font-size: 30px; /* !important;*/
    }
    #banner .intro{
        font-size: 16px;
    }
}
/* STYLES GO HERE */}